<div class="page-header">
  <h1>Editing Genre</h1>
</div>

<%= render 'form' %>

<%= link_to '<button class="btn btn-info">Show</button>'.html_safe, @genre %>
<%= link_to '<button class="btn btn-default">Back</button>'.html_safe, genres_path %>
