<div class="text-center">
<h1>Welcome To VenueShare</h1>
<p>Venue share is a forum where bands, fans and venues can communicate and discover each other.</p>
<br>
<br>
<p>
  <%= link_to '<button class="btn btn-success btn-lg">Signup</button>'.html_safe, signup_url %>
  <%= link_to '<button class="btn btn-info btn-lg">Login</button>'.html_safe, login_url %>
</p>
</div>
