<div class="container text-center">
<div class="page-header"><h1>README: Final Project</h1></div>
<h3>Team Members</h3> <h4> Dusty Argyle, James Collier, Tigran Mnatsakanyan and Sam Trout</h4>
	<div class="panel panel-default text-left">
		 <div class="panel-heading">Overview:</div>
		 <div class="panel-body">
		 	Venue share was designed to be a website that facilitates communication and discovery for venues, bands and fans. 
		 	We created this website with the goal of making discovering new bands, music venues and fans easier for all parties.
		 	Through the site a new user is able to register a new account, login with that account and then begin dicovering 
		 	eveything that our site has to offer. This project was developed using Ruby on Rails with an SQLite database. 
		 	In order to help style the website we used bootstrap. This project is currently running on every team members VM 
		 	on port 3001. The source code is also located in each team members GitHub repository under the final_project folder.
		 </div>
		 	
		 <div class="panel-body">Example user you can login as:</div>
		 <ul>
		 	<li>Username: rock@gmail.com Password: dingo123</li>
		 </ul>
	</div>
</div>
